.tab-box {
	margin-top: 40px;
}

.tab-box .nav {
	padding: 0px;
}

.tab-box .nav-tabs {
	border-bottom: 2px solid #154063;
}

.tab-box .nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus
	{
	color: #154063;
	font-weight: 800;
	cursor: default;
	background-color: #efefef;
	border: 2px solid #154063;
	border-bottom-color: transparent;
	cursor: default;
}

.tab-box .nav-tabs>li>a:hover {
	border: 2px solid;
	border-color: #154063 #154063 #efefef;
}

.tab-box .nav-tabs>li>a {
	color: black;
	border-radius: 0;
}

.tab-box .nav-tabs>li {
	margin-bottom: -2px;
}

.tab-pane {
	margin-bottom: 40px;
}

.tab-pane h3 {
	color: #154063;
	font-weight: 800;
}

@media ( max-width : 590px) {
	.tab-box .nav>li>a {
		padding: 10px 10px;
	}
}

/* 도서관리 - 도서등록 */
#m-book-box_write {
	margin-bottom: 50px;
}

#m-book-box_write h2 {
	margin-top: 10px;
	color: #efefef;
	font-weight: 800;
	color: #efefef;
}

.m-book-box {
	width: 80%;
	max-width: 900px;
	background: #154063;
	padding: 10px;
	margin-bottom: 10px;
	background: #154063;
}

.table tr {
	border: 2px solid #154063;
}

.table th {
	margin-top: 5px;
	width: 120px;
}

.table textarea {
	height: 200px;
	resize: none;
}

.table input, .table textarea {
	border: 1px solid #154063;
	border-radius: 0px;
}

.table input:focus, .table textarea:focus {
	border: 1px solid #154063;
	outline: none;
	box-shadow: none;
}

.m-book-box table {
	background-color: white;
	margin: 0px;
}

.m-book-box table tr {
	background-color: white;
}

.m-button-box {
	text-align: left;
}

.m-button-box button {
	border: none;
	background: #154063;
	color: #efefef;
	padding: 10px 15px;
	margin-left: 5px;
}

.m-button-box button:focus {
	border: none;
	outline: none;
}

.mw-title {
	margin-bottom: 30px;
}

/*도서관리 - 수정/삭제 */
.book-update-delete {
	width: 80%;
	max-width: 900px;
}

.book-info {
	width: 100%;
}

.mw_search_bar {
	width: 100%;
	margin-top: 40px;
	margin-bottom: 20px;
}

.b_category {
	margin-right: -10px;
	border-radius: 0;
	height: 45px;
	width: 20%;
	max-width: 110px;
	border: 2px solid #154063;
	background: #154063;
	outline: none;
	color: #efefef;
	appearance: none;
	padding: 5px;
	text-align-last: left !important;
	border: 2px solid #154063;
}

.mw_search_bar button {
	margin-left: -10px;
	width: 20%;
	max-width: 110px;
	height: 45px;
	border: 2px solid #154063;
	background: #154063;
	outline: none;
	color: #efefef;
}

.mw_search_bar input {
	width: 75%;
	max-width: 700px;
	height: 45px;
	padding: 10px;
	border: 2px solid #154063;
	outline: none;
	height: 45px;
}

#bsh {
	margin-bottom: 50px
}

.pagination {
	margin-top: 30px;
}

.page-item a {
	color: #154063 !important;
}

.page-item a:hover {
	background: #d6dde4 !important;
}

.books-box {
	width: 100%;
	max-width: 900px;
	border: 2px solid #154063;
}

.books-box tr {
	cursor: pointer;
}

.books-box td {
	padding: 10px 10px;
}

.thumb {
	width: 100px;
	margin: 0px;
}

.thumb img {
	width: 100px;
	margin: 0px;
}

.last-row {
	border-bottom: 1px solid #154063;
}

#mw-page {
	margin: auto;
}

#m-book-info1 {
	background-color: #154063;
	border-radius: 0;
	color: white;
	margin-left: 10px;
}

#m-book-info2 {
	background-color: #154063;
	border-radius: 0;
	color: white;
	margin-left: 10px;
}

/*대출현황*/
.book-loan-status {
	width: 100%;
	margin: auto;
	margin-top: 50px;
	margin-bottom: 50px;
	padding: 10px 20px 20px 20px;
	border: 3px solid #154063;
	background-color: white;
}

.table3 {
	width: 100%;
	border-collapse: collapse;
	text-align: left;
	line-height: 1.5;
	margin-top: 30px;
	margin-bottom: 30px;
}

.table3 thead tr {
	padding: 10px;
	font-weight: bold;
	vertical-align: top;
	color: #154063;
	border-bottom: 2px solid #154063;
	background: #f3f6f7;
}

.table3 tbody tr {
	padding: 10px;
	vertical-align: top;
	border-bottom: 1px solid #ccc;
	background: #fafdff;
}

.table3 td {
	padding: 10px;
	vertical-align: top;
}

#bl-li {
	width: 80px;
}

/*예약현황*/
.book-reservation {
	width: 100%;
	margin: auto;
	margin-top: 50px;
	margin-bottom: 50px;
	padding: 10px 20px 20px 20px;
	border: 3px solid #154063;
	background-color: white;
}

.table4 {
	width: 100%;
	border-collapse: collapse;
	text-align: left;
	line-height: 1.5;
	margin-top: 30px;
	margin-bottom: 30px;
}

.table4 thead tr {
	padding: 10px;
	font-weight: bold;
	vertical-align: top;
	color: #154063;
	border-bottom: 2px solid #154063;
	background: #f3f6f7;
}

.table4 tbody tr {
	padding: 10px;
	vertical-align: top;
	border-bottom: 1px solid #ccc;
	background: #fafdff;
}

.table4 td {
	padding: 10px;
	vertical-align: top;
}

#br-li {
	width: 100px;
}

@media ( max-width : 766px) {
	.m-book-box {
		width: 100%;
	}
	.book-info {
		width: 100%;
	}
	.book-update-delete {
		width: 100%;
	}
	.book-loan-status {
		font-size: 0.8em;
	}
	#bl-li {
		width: 50px;
	}
}

.disabled {
	pointer-events: none;
	background-color: #eee;
	color: #555;
	opacity: 1;
}

.ls_btn2 {
	border: none;
	background: #154063;
	color: #efefef;
}

.ls_btn2 button:focus {
	border: none;
	outline: none;
}

.infoButton {
	border: 0;
	border-radius: 0;
	background-color: #154063;
	color: white;
	font-size: 12px;
	width: 90px;
	height: 25px;
}

.book-title {
	padding: 10px 10px 0px 10px !important;
}

.book-detail {
	    padding: 0px 10px 10px 10px !important;
}