.all-box {
	width: 80%;
	margin: auto;
	margin-top: 50px;
	margin-bottom: 50px;
	padding: 10px 20px 20px 20px;
	border: 3px solid #154063;
	background-color: white;
}

h2 {
	color: #154063;
	font-weight: 800;
}

.sc-box img {
	width: 200px;
	height: 300px;
}

#wrapper button {
	width: 100px;
	border: none;
	background: #154063;
	color: #efefef;
	padding: 10px 0px;
}

#wrapper button:focus {
	outline: none;
}

.img-box {
	padding-left: 0px;
}

.info-box {
	padding-left: 0px;
}

.button-box {
	margin-bottom: 10px;
}

.button-one {
	margin-bottom: 10px;
	padding-left: 0px;
}

.button-two {
	text-align: right;
	padding-right: 0px;
}

@media ( max-width : 992px) {
	.button-one {
		text-align: left;
	}
	.button-two {
		text-align: left;
		padding-left: 0px;
	}
}

@media ( max-width : 628px) {
	.info-box {
		font-size: 12px;
	}
	.button-box button {
		font-size: 14px;
	}
}

/*book-col-info*/
.book-col-info {
	width: 80%;
	margin: auto;
	margin-top: 50px;
	margin-bottom: 50px;
	padding: 10px 20px 20px 20px;
	border: 3px solid #154063;
	background-color: white;
}

.table2 {
	width:100%;
	border-collapse: collapse;
	text-align: left;
	line-height: 1.5;
	margin-bottom: 30px;
}

.table2 thead tr {
	padding: 10px;
	font-weight: bold;
	vertical-align: top;
	color: #154063;
	border-bottom: 2px solid #154063;
	background: #f3f6f7;
}

.table2 tbody tr {
	padding: 10px;
	/* font-weight: bold; */
	vertical-align: top;
	border-bottom: 1px solid #ccc;
	background: #fafdff;
}

.table2 td {
	padding: 10px;
	vertical-align: top;
}