@charset "UTF-8";

body {
	overflow: hidden;
}

div.container {
	margin-top: 10px;
}

.page {
	margin-top: 3px;
	float: right;
	text-align: center;
}

.page p {
	font-size: 1.2em;
	font-weight: 700;
}

.page .btn {
	border-radius: 0px;
	background: #154063;
	color: white;
	font-weight: 600;
	width: 120px;
	padding: 5px 15px;
	outline: none;
	border: none;
}

.chat-box {
	background: white;
	border-radius: 10px;
}

.page .btn:focus {
	outline: none;
}

.heading {
	padding: 15px 15px;
	background: #c5d1da;
	border-radius: 3px 3px 0px 0px;
	margin-top: 10px;
}

.heading h5 {
	padding: 10px 0px;
	float: left;
	font-weight: 700;
	margin: 0px;
	color: #154063;
}

.button-box {
	margin-top: 5px;
	float: right;
}

.button-box button {
	width: 100px;
	padding: 5px 15px;
	font-weight: 600;
	outline: none;
	border: none;
}

.button-box .openbtn {
	background: #154063;
	color: white;
}

.button-box .quitbtn {
	background: #e89415;
	color: white;
}

.nametag {
	color: #e89415;
}

div.chat-content {
	height: 580px;
	overflow: auto;
	padding: 10px 0px;
}

div#yourMsg {
	display: none;
}

.chat-content .me {
	text-align: right;
	margin-top: 10px;
	margin-bottom: 10px;
}

.chat-content .me span {
	border-radius: 3px;
	margin-right: 20px;
	position: relative;
	background: #154063;
	color: white;
	padding: 5px 10px;
}

.chat-content .me span:after {
	left: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-left-color: #154063;
	border-width: 8px;
	margin-top: -8px;
}

.chat-content .me p {
	margin: 0px 20px 5px 0px;
	font-weight: 600;
	color: #154063;
}

.chat-content .others {
	text-align: left;
	margin-top: 10px;
	margin-bottom: 10px;
}

.chat-content .others span {
	margin-left: 20px;
	position: relative;
	background: #e89415;
	color: white;
	padding: 5px 10px;
	border-radius: 3px;
}

.chat-content .others span:after {
	right: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-right-color: #e89415;
	border-width: 8px;
	margin-top: -8px;
}

.chat-content .others p {
	margin: 0px 0px 5px 20px;
	font-weight: 600;
	color: #e89415;
}

.message-box input {
	width: 300px;
	padding: 10px 15px;
	border-radius: 0px;
	outline: none;
	border: none;
}

.message-box .btn {
	width: 80px;
	background: #154063;
	padding: 10px 15px;
	color: white;
	border-radius: 0px;
	outline: none;
	border: none;
	margin-bottom: 5px;
}

.hidden {
	display: none;
}

.chat-footer {
	text-align: center;
	padding: 10px 15px;
	background-color: #c5d1da;
	border-top: 1px solid #abbcc9;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
}