#main-box_inq_con_li h2 {
	margin: 0px;
	color: #154063;
	font-weight: 800;
}

#main-box_inq_con_li {
	border: 3px solid #154063;
	background-color: white;
	margin-top: 40px;
	margin-bottom: 50px;
	width: 100%;
	padding: 40px 40px 40px 40px;
}

.inq_con_info_list {
	padding: 0px 24px 20px 24px;
	font-size: 0;
}

.inq_con_info_item:first-child {
	margin-left: -20px;
	padding-left: 0;
}

.inq_con_info_item {
	display: inline-block;
	position: relative;
	font-size: 15px;
	font-weight: 400;
	color: #4d4d4d;
	margin-left: 10px;
}

#inq_con_btn button {
	border: 1px solid #154063;
	background-color: #154063;
	color: white;
	width: 70px;
	height: 40px;
	font-size: 15px;
	margin-top: 20px;
}

.inq_con_answer {
	text-decoration: none !important;
	color: black;
	font-size: 20px;
	font-weight: 600;
	margin-left: 20px;
}

.inq_con_an_list {
	font-size: 0;
	margin: 5px 0 10px 40px;
}

.inq_con_an_item:first-child {
	margin-left: -20px;
	padding-left: 0;
}

.inq_con_an_item {
	display: inline-block;
	position: relative;
	font-size: 15px;
	font-weight: 400;
	color: #4d4d4d;
	margin-left: 10px;
}

#main-box_inq_con_li a:hover {
	color: black;
}

.inq_con_line {
	border: 1px solid #154063;
	width: 100%;
	margin: 15px 0px;
}

.inq_con_answer i {
	color: #154063;
}

.main-box table {
	background-color: white;
	margin: 0px;
}

.main-box table tr:first-child th, .main-box table tr:first-child td {
	border-top: none !important;
}

.main-box table tr th, .main-box table tr td {
	border-top: 1px solid #154063;
}

.main-box .table th {
	margin-top: 5px;
	width: 90px;
}

.table {
	border-collapse: separate;
	border-color: none;
}

.button-box {
	text-align: right;
}

.button-box button {
	border: none;
	background: #154063;
	color: #efefef;
	padding: 10px 15px;
	margin-left: 5px;
}