h2 {
	color: #154063;
	font-weight: 800;
	margin-top: 40px;
}

.books-box {
	width: 100%;
	max-width: 700px;
	border: 2px solid #154063;
}

td {
	padding: 10px 10px;
}

.thumb {
	width: 100px;
	margin: 0px;
}

.thumb img {
	width: 100px;
	margin: 0px;
}

span.title {
	font-size: 1.4em;
	font-weight: 700;
}

span.title:after {
	margin-top: 20px;
	content: "";
	display: block;
	width: 15%;
	border-bottom: 2px solid #154063;
	content: "";
}

.book-ad {
	width: 30%;
	text-align: right;
	vertical-align: bottom;
}

.book-ad label {
	color: #c0c0c0;
	font-size: 1.1em;
}

.book-ad input {
	display: none;
}

.book-ad .rsv:checked+label {
	color: #fac029;
}

.book-ad .fav:checked+label {
	color: #fe594b;
}

.last-row {
	border-bottom: 1px solid #154063;
}

.rent-box {
	border: 2px solid #154063;
	width: 100%;
	max-width: 700px;
	margin-bottom: 50px;
}

.rent-h2 {
	display: inline-block;
}

.rent-info {
	font-size: 0.8em;
	color: #6f8ba2;
}

.rent-date {
	color: #6f8ba2;
}

/*대출현황*/
.book-loan-status {
	width: 100%;
	margin: auto;
	margin-bottom: 50px;
}

.table3 {
	width: 100%;
	border-collapse: collapse;
	text-align: left;
	line-height: 1.5;
	margin-top: 20px;
	margin-bottom: 30px;
	border: 2px solid #154063;
}

.table3 thead tr {
	padding: 10px;
	font-weight: bold;
	vertical-align: top;
	color: #154063;
	border-bottom: 2px solid #154063;
	background: #f3f6f7;
}

.table3 tbody tr {
	padding: 10px;
	vertical-align: top;
	border-bottom: 1px solid #ccc;
	background: #fafdff;
}

.table3 td {
	padding: 10px;
	vertical-align: top;
}

.subject {
	width: 300px
}

.infoButton {
	border: 0;
	background-color: #4081da;
	color: white;
	font-size: 12px;
	width: 90px;
	height: 25px;
}

.btn-custom {
	padding: 5px 10px;
	border: none;
	outline: none;
	background-color: #154063;
	color: white;
	border: none;
}

.more-like {
	width: 100%;
	max-width: 700px;
	text-align: right;
}

.more-like a {
	color: #154063;
}