h2 {
	color: #154063;
	font-weight: 800;
	margin-top: 40px;
}

.info-box {
	border: 2px solid #154063;
	width: 100%;
	margin-bottom: 50px;
	padding: 15px;
}

.info-box input {
	line-height: 1.5em;
	width: 100%;
	padding: 5px;
	border: 2px solid #154063;
}

.info-box .input-id {
	cursor: default;
}

.info-box td {
	padding: 5px;
}

.info-box input:focus {
	outline: none;
}

input[type="radio"]+label {
	width: 14px;
	height: 14px;
	border: 2px solid #154063;
	background: #154063;
	border-radius: 100px;
	cursor: pointer;
	margin: 0px 5px;
}

input[type="radio"]:checked+label {
	border: 3px solid #154063;
	background: white;
}

input[type="radio"] {
	display: none;
}

.align-right {
	text-align: right;
}

.info-box label {
	width: 80px;
	color: #154063;
	font-size: 1.1em;
	margin-right: 5px;
}

.info-box .button-box {
	padding-right: 5px;
}

.info-box button {
	border: none;
	background: #154063;
	color: #efefef;
	padding: 10px 10px;
	margin-left: 5px;
}

.info-box button:focus {
	outline: none;
}

.info-box .address input {
	cursor: default;
}

.info-box .address .postCode {
	width: 30%;
}

.info-box .addr {
	width: 68%;
	float: right;
}

.member-check {
	width: 100%;
}

.check-info {
	color: #154063;
	font-weight: 500;
}

@media ( max-width :728px) {
	.info-box td {
		max-width: 200px;
		font-size: 0.8em;
	}
	.info-box button {
		width: 80px;
	}
	.info-box .button-custom {
		width: 100px;
	}
	.info-box .address input {
		width: 100%;
	}
	.info-box .address input:first-of-type {
		margin-bottom: 10px;
	}
}

#passwdMessage {
	color: red;
}

/* 작성글 */
.inquiry-box table {
	width: 100%;
	margin-bottom: 50px;
}

.inquiry-box table td {
	cursor: pointer;
	border: 2px solid #154063;
	padding: 10px;
	border: 2px solid #154063;
}

.inquiry-box table th {
	padding: 8px 8px 8px 0px;
	text-align: center;
	background: #154063;
	color: white;
}

.inquiry-box table p.subject {
	font-size: 1.2em;
	font-weight: 700;
	margin-bottom: 0px;
}

.inquiry-box table p.date {
	font-size: 0.8em;
	margin-bottom: 0px;
}

.page-item a {
	color: #154063 !important;
}

.page-item a:hover {
	background: #d6dde4 !important;
}

.disabled {
    pointer-events: none;
    background-color: #eee;
    color: #555;
    opacity: 1;
}

/*대출현황*/
.book-loan-status {
	width: 100%;
	margin: auto;
	margin-bottom: 50px;

}

.table3 {
	width: 100%;
    border-collapse: collapse;
    text-align: left;
    line-height: 1.5;
    margin-top: 20px;
    margin-bottom: 30px;
    border: 2px solid #154063;
}

.table3 thead tr {
	padding: 10px;
	font-weight: bold;
	vertical-align: top;
	color: #154063;
	border-bottom: 2px solid #154063;
	background: #f3f6f7;
}

.table3 tbody tr {
	padding: 10px;
	vertical-align: top;
	border-bottom: 1px solid #ccc;
	background: #fafdff;
}


.table3 td {
	padding: 10px;
	vertical-align: top;
}

.subject{
	width:300px
}