.main-box {
	background: #154063;
	padding: 15px;
	margin-bottom: 10px;
}

.main-box h1 {
	margin: 0px;
	margin-bottom: 10px;
	color: #efefef;
	font-weight: 800;
}

.main-box table {
	width: 100%;
}

.main-box .cell-right {
	text-align: right;
}

.main-box table tr {
	width: 100%;
	height: 40px;
	background: #efefef;
	border: 1px solid #154063;
}

.extra2 {
	margin-top: 40px;
	text-align: left;
}

.extra2 .button {
	margin-top: 2em;
}

.extra2 .title h2 {
	margin-top: 10px;
	font-size: 2em;
}

.extra2 .title .byline {
	font-size: 0.80em;
	color: #154063;
}

.extra2 .ebox2 {
	margin-bottom: 50px;
}

.extra2 .ebox2 h2 {
	color: #154063;
	font-weight: 800;
	font-family: "Gugi", cursive;
}

#info_hr {
	margin-bottom: 10px;
}

.info-line {
	border: 1px dashed #154063;
}

.extra1 h4 {
	color: #154063;
	font-weight: 800;
	margin-top: 40px;
}

.extra1 {
	margin-bottom: 50px;
}

/* l_intro-Image */
.image {
	border-radius: 0;
	border: 0;
	display: inline-block;
	position: relative;
}

.image img {
	border-radius: 0;
	display: block;
}

.image .left, .image .right {
	max-width: 40%;
}

.image .left img, .image .right img {
	width: 100%;
}

.image.round img {
	border-radius: 100%;
}

.image.left {
	float: left;
	padding: 0 1.5em 1em 0;
	top: 0.25em;
}

.image.right {
	float: right;
	padding: 0 0 1em 1.5em;
	top: 0.25em;
}

.image.fit {
	display: block;
	margin: 0 0 2em 0;
	width: 100%;
}

.fit img {
	width: 100%;
}

@media ( min-width : 991px) {
	.fit img {
		height: 500px;
	}
}

.image.main {
	display: block;
	margin: 0 0 3em 0;
	width: 100%;
}

.image.main img {
	width: 100%;
}

.title {
	margin-bottom: 1em;
}

.title h2 {
	font-weight: 400;
	font-size: 2.8em;
	color: #323232;
}

.title .byline {
	letter-spacing: 0.15em;
	text-transform: uppercase;
	font-weight: 550;
	font-size: 1.1em;
	color: #6F6F6F;
}

/* l_noti- table*/
.n_nav {
	padding: initial;
	border: 2px solid #154063;
	width: 150px;
	background-color: #154063;
	margin-top: 20px;
}

.n_nav a {
	text-decoration: none;
}

#main-box_noti {
	width: 100%;
	margin-bottom: 50px;
	margin-top: 40px;
}

#main-box_noti h2 {
	color: #efefef;
	font-weight: 800;
	float: left;
	margin-top: 10px;
	margin-bottom: 20px;
}

#noti_li tr {
	cursor: pointer;
	height: 60px;
}

.ln_list1 {
	text-align: center;
	background-color: #154063;
	color: #efefef;
	padding: 7px;
}

.ln_list2 {
	text-align: center;
	background-color: #efefef;
	color: #154063;
	padding: 5px;
}

#ln_n1 {
	color: #efefef;
}

#ln_n2 {
	color: #154063;
}

.notice-button-box {
	float: right;
}

.notice-button-box button {
	margin-top: 10px;
	border: none;
	background: white;
	color: #154063;
	padding: 10px 15px;
	color: #154063;
	font-weight: 600;
}

.notice-button-box button:focus {
	outline: none;
	border: none;
}

.pagination {
	margin-top: 30px;
}

.page-item a {
	color: #154063 !important;
}

.page-item a:hover {
	background: #d6dde4 !important;
}

/* 공지글 */
#main-box_con_l {
	border: 3px solid #154063;
	background-color: white;
	margin-top: 50px;
	margin-bottom: 50px;
	width: 100%;
	padding: 40px 40px 40px 40px;
}

.b_n_con {
	text-decoration: none !important;
	color: black;
	font-size: 20px;
	font-weight: 700;
}

.b_con_title {
	font-size: 25px;
	color: #4d4d4d;
	font-weight: 800px;
	margin-left: 20px;
}

.con_line1 {
	color: #54728a;
	border: thin solid #54728a;
	width: 100%;
}

.con_line2 {
	color: #6f8ba2;
	border: 0.5px solid #6f8ba2;
	width: 100%;
	margin-top: -10px;
}

.con_line3 {
	color: #6f8ba2;
	border: 0.5px solid #6f8ba2;
	width: 100%;
	margin-top: 100px;
}

.contens_c h2 {
	color: #4d4d4d;
	margin: 80px 0 80px 0;
}

.con_info_list {
	padding: 0px 24px 20px 24px;
	font-size: 0;
}

.con_info_item:first-child {
	margin-left: -20px;
	padding-left: 0;
}

.con_info_item {
	display: inline-block;
	position: relative;
	font-size: 15px;
	font-weight: 400;
	color: #4d4d4d;
	margin-left: 10px;
}

#con_btn button {
	border: 1px solid #154063;
	background-color: #154063;
	color: white;
	width: 100px;
	height: 40px;
	font-size: 20px;
	margin-top: 20px;
}

/* 0909 수정 - 검색창 */
#table_search {
	margin-top: 10px;
}

#table_search select {
	border-radius: 0;
	height: 40px;
	background: #efefef;
	outline: none;
	color: #154063;
	padding: 5px;
	text-align-last: left !important;
	border: 2px solid #efefef;
}

#table_search .input_box {
	margin-left: -5px;
	width: 155px;
	padding: 5px;
	height: 40px;
	border: 2px solid #efefef;
	outline: none;
}

#table_search button {
	margin-left: -5px;
	padding: 5px 20px;
	height: 40px;
	border: 2px solid #efefef;
	background: #efefef;
	outline: none;
	color: #154063;
}

@media ( max-width : 764px) {
	#noti_li td {
		font-size: 12px;
	}
	.view-count, .date {
		display: none;
	}
}