.main-box {
	background: #154063;
	padding: 15px;
	margin-bottom: 10px;
}

.main-box h1 {
	margin: 0px;
	margin-bottom: 10px;
	color: #efefef;
	font-weight: 800;
}

.main-box table {
	width: 100%;
}

.main-box .cell-right {
	text-align: right;
}

.main-box table tr {
	width: 100%;
	height: 40px;
	background: #efefef;
	border: 1px solid #154063;
}

.extra2 {
	margin-top: 40px;
	text-align: left;
}

.extra2 .button {
	margin-top: 2em;
}

.extra2 .title h2 {
	margin-top: 10px;
	font-size: 2em;
}

.extra2 .title .byline {
	font-size: 0.80em;
	color: #154063;
}

.extra2 .ebox2 {
	margin-bottom: 50px;
}

.extra2 .ebox2 h2 {
	color: #154063;
	font-weight: 800;
	font-family: "Gugi", cursive;
}

#info_hr {
	margin-bottom: 10px;
}

/* l_intro-Image */
.image {
	border-radius: 0;
	border: 0;
	display: inline-block;
	position: relative;
}

.image img {
	border-radius: 0;
	display: block;
}

.image .left, .image .right {
	max-width: 40%;
}

.image .left img, .image .right img {
	width: 100%;
}

.image.round img {
	border-radius: 100%;
}

.image.left {
	float: left;
	padding: 0 1.5em 1em 0;
	top: 0.25em;
}

.image.right {
	float: right;
	padding: 0 0 1em 1.5em;
	top: 0.25em;
}

.image.fit {
	display: block;
	margin: 0 0 2em 0;
	width: 100%;
}

.fit img {
	width: 100%;
}

@media ( min-width : 991px) {
	.fit img {
		height: 500px;
	}
}

.image.main {
	display: block;
	margin: 0 0 3em 0;
	width: 100%;
}

.image.main img {
	width: 100%;
}

.title {
	margin-bottom: 1em;
}

.title h2 {
	font-weight: 400;
	font-size: 2.8em;
	color: #323232;
}

.title .byline {
	letter-spacing: 0.15em;
	text-transform: uppercase;
	font-weight: 550;
	font-size: 1.1em;
	color: #6F6F6F;
}

/* l_noti- table*/
.n_nav {
	padding: initial;
	border: 2px solid #154063;
	width: 150px;
	background-color: #154063;
	margin-top: 20px;
}

.n_nav a {
	text-decoration: none;
}

#main-box_noti {
	width: 100%;
	margin-bottom: 50px;
	margin-top: 40px;
}

#main-box_noti h2 {
	color: #efefef;
	font-weight: 800;
	float: left;
	margin-top: 10px;
	margin-bottom: 20px;
}

#noti_li tr {
	height: 60px;
}

.ln_list1 {
	text-align: center;
	background-color: #154063;
	color: #efefef;
	padding: 7px;
}

.ln_list2 {
	text-align: center;
	background-color: #efefef;
	color: #154063;
	padding: 5px;
}

#ln_n1 {
	color: #efefef;
}

#ln_n2 {
	color: #154063;
}

.notice-button-box {
	float: right;
}

.notice-button-box button {
	margin-top: 10px;
	border: none;
	background: white;
	color: #154063;
	padding: 10px 15px;
	color: #154063;
	font-weight: 600;
}

.notice-button-box button:focus {
	outline: none;
	border: none;
}

.pagination {
	margin-top: 30px;
}

.page-item a {
	color: #154063 !important;
}

.page-item a:hover {
	background: #d6dde4 !important;
}