h2 {
	color: #154063;
	font-weight: 800;
	margin-top: 40px;
}

.join-box {
	border: 2px solid #154063;
	width: 620px;
	margin-bottom: 50px;
	padding: 15px;
}

.input-box input {
	line-height: 1.5em;
	width: 100%;
	padding: 5px;
	border: 2px solid #154063;
}

.input-box td {
	padding: 5px;
}

.input-box input:focus {
	outline: none;
}

input[type="radio"]+label {
	width: 14px;
	height: 14px;
	border: 2px solid #154063;
	background: #154063;
	border-radius: 100px;
	cursor: pointer;
	margin: 0px 5px;
}

input[type="radio"]:checked+label {
	border: 3px solid #154063;
	background: white;
}

input[type="radio"] {
	display: none;
}

.align-right {
	text-align: right;
}

.input-box label {
	width: 80px;
	color: #154063;
	font-size: 1.1em;
	margin-right: 5px;
}

.input-box .button-box {
	padding-right: 5px;
}

.input-box button {
	width: 100px;
	border: none;
	background: #154063;
	color: #efefef;
	padding: 10px 0px;
	margin-left: 5px;
}

.input-box .address input {
	cursor: default;
}

.input-box .address .postCode {
	width: 30%;
}

.input-box .addr {
	width: 68%;
	float: right;
}

.input-box button:focus {
	outline: none;
}

@media ( max-width :728px) {
	.join-box {
		width: 410px;
	}
	.input-box td {
		max-width: 200px;
		font-size: 0.9em;
	}
	.input-box button {
		width: 80px;
		font-size: 0.9em;
	}
	.input-box .address input {
		width: 100%;
	}
	.input-box .address input:first-of-type {
		margin-bottom: 10px;
	}
}

#passwdMessage {
	color: red;
}

div#window-wrapper {
	padding: 25px;
	background: #efefef;
	width: 100%;
	height: 100%;
}

div#window-wrapper table td {
	font-size: 1em;
	height: 50px;
}

div#window-wrapper input {
	width: 200px;
	height: 40px;
}

div#window-wrapper .button-custom {
	margin-left: 10px;
	font-size: 1em;
	width: 100px;
	height: 40px;
	padding: 5px 15px;
	width: 100px;
	font-size: 1em;
}

/* div#window-wrapper .small-button { */
/* 	height: 20px; */
/* } */
div#window-wrapper p {
	padding: 5px;
	margin: 0px;
	font-weight: 700;
}