h2 {
	color: #154063;
	font-weight: 800;
	margin-top: 40px;
}

.login-box {
	border: 2px solid #154063;
	width: 500px;
	margin-bottom: 50px;
	padding: 15px;
}

.input-box input {
	line-height: 1.5em;
	margin-left: 5px;
	width: 360px;
	padding: 5px;
	border: 2px solid #154063;
	margin-left: 5px;
}

.input-box td {
	padding: 5px;
}

.input-box input:focus {
	outline: none;
}

input[type="checkbox"]+label {
	display: inline-block;
	margin: 0px 5px;
	width: 15px;
	height: 15px;
	background: url("/images/member/checkbox.png") no-repeat center;
	cursor: pointer;
}

input[type="checkbox"]:checked+label {
	background: url("/images/member/checkbox-checked.png") no-repeat center;
}

input[type="checkbox"] {
	display: none;
}

.align-right {
	text-align: right;
}

.input-box label {
	width: 80px;
	color: #154063;
	font-size: 1.1em;
}

.input-box button {
	border: none;
	background: #154063;
	color: #efefef;
	padding: 10px 15px;
	margin-left: 5px;
}

.input-box button:focus {
	outline: none;
}

@media ( max-width :728px) {
	.login-box {
		width: 410px;
	}
	.input-box input {
		width: 260px;
	}
}